<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Used vehicle:</strong>
  <%= @post.used_vehicle %>
</p>

<p>
  <strong>Make:</strong>
  <%= @post.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @post.model %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>
  <%= image_tag @post.picture, width: 1300 %>
<p>

</p>
<div class="buttons">
<!--Check user is admin to view use this button-->
<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %> |
<% end %>
<%= link_to 'Back', item_page_path, class:"btn btn-primary" %> |
<!--Create Previous and Next button-->
  <% if @post[:id].to_i > 3 %>
    <%= link_to "Previous", post_path(@post[:id]-1),class:"btn btn-secondary" %>
  <% end %> |
  <% if @post[:id].to_i < 16 && @post[:id].to_i >=3 %>
    <%= link_to "Next", post_path(@post[:id]+1), class:"btn btn-secondary" %>
  <% end %> 
<!--Create Buy button-->
  <div class="buy_button">
    <%= render_buy_button(current_user, @post) %>
  </div>
</div>
<!--Javascript for buy button-->
<script src="https://js.stripe.com/v3/"></script>
<script>
  const button = document.querySelector("[data-stripe='payment']")
  if (button) {
    button.addEventListener("click", () => {
      console.log("button clicked")
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      )
      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    })
  }
</script>
