<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Used vehicle:</strong>
  <%= @post.used_vehicle %>
</p>

<p>
  <strong>Make:</strong>
  <%= @post.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @post.model %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>
  <%= image_tag @post.picture%>
<p>

</p>
<div class="buttons">
<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %> |
<%= link_to 'Back', posts_path, class:"btn btn-primary" %>
  <div class="buy_button">
    <%= render_buy_button(current_user, @post) %>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  const button = document.querySelector("[data-stripe='payment']")
  if (button) {
    button.addEventListener("click", () => {
      console.log("button clicked")
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      )
      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    })
  }
</script>
